
<div class="container">
    <div class="row"><h1>This is the Starting Menu!!</h1></div>
    <div class="row">   
        <div class="col-4 align-center">
           <a href="/employees">
                <img src="../assets/audience.svg" alt="" width="120" height="99">
            </a>
            <!-- <button routerLink="/employees" type="button" class="btn btn-primary">Get employees</button> -->
        </div>
        <div class="col-4 align-center">
           <a href="/attributes">
                <img src="../assets/star.svg" alt="" width="120" height="99">
            </a>
           <!-- <button routerLink="/attributes" type="button" class="btn btn-primary">Get attributes</button> -->
        </div>
        <div class="col-4 align-center">
           <a href="/map">
                <img src="../assets/map.svg" alt="" width="120" height="99">
            </a>
            <!-- <button routerLink="/map" type="button" class="btn btn-primary">Get map</button> -->
        </div>
    </div>
</div>   